.menu-container {
  position: relative; /* Родитель должен иметь относительное позиционирование */
}

.menu-popup {
  display: none; /* Скрыто по умолчанию */
  flex-direction: column;
  justify-content: space-between;
  width: 150px; /* Укажите подходящую ширину */
  background: #EFF2F5;
  border-radius: 8px;
  position: absolute; /* Абсолютное позиционирование относительно .menu-container */
  top: 50px; /* Отступ вниз от кнопки */
  right: 0; /* Меню выровнено по правому краю кнопки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Убедитесь, что меню отображается поверх других элементов */
}

.menu-popup > a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  display: flex; /* Расположить текст и иконки горизонтально */
  align-items: center; /* Центрируем по вертикали */
  gap: 8px; /* Отступ между текстом и иконкой */

}

.menu-popup > a:hover {
  color: #3861FB;
  background-color: #e9eefb; /* Добавьте эффект наведения */
  transition: 0.3s;
}

.menu-popup > a > img {
  width: 16px;
  height: 16px;

}
.menu-btn{
  margin-top: 0;
}

