body {
  font-family: Inter,sans-serif;
  background-color: #ffffff;
  animation: fadeIn 0.3s ease-in forwards;
  margin: 0;
  overflow-x: hidden;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #EFF2F5;
  width: 100%;
  margin-right: -20px;

}
.logo {
  height: 60px;
  margin-right: 20px;
  margin-top: 10px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.nav-link-header {
  text-decoration: none;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.header-center {
  gap: 540px;
  display: flex;
  justify-content: center;

}
input
{
  color: #808A9D;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}
.search-icon {
  position: absolute;
  left: 15px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.search-input {
  padding: 15px 15px 15px 40px;
  border: none;
  border-radius: 12px;
  background-color: #EFF2F5;
  outline: none;
  font-family: Inter, sans-serif;
  color: #808A9D;
  width: 350px;

  font-size: 14px;
  font-weight: bold;
}
.search-input::placeholder {
  color: #808A9D;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  margin-top: 20px;
}
.icon-btn img {
  width: 20px;
  height: 20px;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  color: #808A9D;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 80px;
}

.footer-content a{
  color: #3861FB;
  font-weight: bold;


}

.footer-links a {
  background-color: #EFF2F5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-radius: 8px;
  padding: 4px 8px;

}

.blue{
  color: #3861FB;
  font-weight:bold ;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-content,
  .footer-links {
    justify-content: center;
  }
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  gap: 10px;
  background: #EFF2F5;
  width: 80px;
  height: 45px;
  border-radius: 20%;
  cursor: pointer;
}
.header-right > .icon-btn {
  margin-bottom: 20px;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  transition: background 0.3s ease;
}
.notification-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}
.icon-btn:hover {
cursor: pointer;
}

.icon-btn img {
  width: 20px;
  height: 20px;
}
.register{
  width: 120px;
  background: #3861FB;
  color: white;
  border-radius: 12px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 14px;
  font-size: 14px;
}
.blue {
  color: #3861FB;
  font-weight: bold;
}
.menu-container{
  cursor: pointer;
}


