
.notification-popup {
  display: none;
  position: absolute;
  top: 60px;
  right: 100px;
  width: 380px;
  background: white;
  border-radius: 10px;
  border: 1px solid #dcdcdf;
  margin-top: 10px;
  overflow: hidden;
  z-index: 100;
}


.notification-header {
  background: #f0f2f5;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}


.notification-list {
  max-height: 300px;
  overflow-y: auto;
}


.notification-item {
  padding: 10px;
  border-bottom: 1px solid #eff2f5;
}

.notification-message {
  margin: 0;
  font-size: 14px;
}

.notification-time {
  font-size: 12px;
  color: #808A9D;
  display: block;
  margin-top: 5px;
}


.notification-popup.active {
  display: block;
}



#toastContainer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
}


.toast {
  background: #4CAF50;
  color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  max-width: 300px;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.4;
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 1;
  animation: toastFadeIn 0.5s ease-in-out, toastFadeOut 0.5s ease-out 4.5s forwards;
}


@keyframes toastFadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes toastFadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.accept-btn{
  padding: 5px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
.decline-btn{
  cursor: pointer;
  padding: 5px;
  color: white;
  background-color: #EA3943;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}
.notification-actions{
  display: flex;
  gap: 10px;
  justify-content: right;
}
