body {
  font-family: Inter,sans-serif;
  background-color: #ffffff;
  animation: fadeIn 0.3s ease-in forwards;
  margin: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #EFF2F5;
  width: 100%;
  margin-right: -20px;

}
.logo {
  height: 60px;
  margin-right: 20px;
  margin-top: 10px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-link-header {
  text-decoration: none;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.header-center {
  justify-content: space-between;
  display: flex;
  gap: 150px;
}
input
{
  color: #808A9D;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
}
.search-icon {
  position: absolute;
  left: 15px;
  width: 18px;
  height: 18px;
  pointer-events: none;
}

.search-input {
  padding: 15px 15px 15px 40px;
  border: none;
  border-radius: 12px;
  background-color: #EFF2F5;
  outline: none;
  font-family: Inter, sans-serif;
  color: #808A9D;
  width: 450px;

  font-size: 14px;
  font-weight: bold;
}
.search-input::placeholder {
  color: #808A9D;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  margin-top: 20px;
}
.icon-btn img {
  width: 20px;
  height: 20px;
}



footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  color: #808A9D;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 80px;
}

.footer-content a{
  color: #3861FB;
  font-weight: bold;


}

.footer-links a {
  background-color: #EFF2F5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-radius: 8px;
  padding: 4px 8px;

}

.blue{
  color: #3861FB;
  font-weight:bold ;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-content,
  .footer-links {
    justify-content: center;
  }
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  gap: 10px;
  background: #EFF2F5;
  width: 80px;
  height: 45px;
  border-radius: 20%;
  cursor: pointer;
}
.header-right > .icon-btn {
  margin-bottom: 20px;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  transition: background 0.3s ease;
}
.notification-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}
.icon-btn:hover {
  cursor: pointer;
}

.icon-btn img {
  width: 20px;
  height: 20px;
}
.register{
  width: 120px;
  background: #3861FB;
  color: white;
  border-radius: 12px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 14px;
  font-size: 14px;
}
.blue {
  color: #3861FB;
  font-weight: bold;
}
.menu-container{
  cursor: pointer;
}

.sporty-wrapper {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: #CFD6E4 1px solid;
  border-radius: 6px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
  min-width: 120px;
  font-size: 14px;
  font-weight: bold;
}


.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
}
.dropdown-item>img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}


.nav-link {

  display: flex;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 70px;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;

}
.nav-link.active {
  background-color: #EFF2F5;
  font-weight: bold;
}

.nav-link:hover {
  color: #3861FB;
  background-color: #f1f1f1;
  cursor: pointer;
}


@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }

  .header-center {
    flex-direction: column;
    gap: 20px;
  }

  .search-input {
    width: 100%;
  }

  .main {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #ffffff;
  }

  .side-bar-left{
    padding: 20px;
    min-width: 200px;
    text-align: left;
    font-size: 16px;
  }

  .side-bar-right {
    width: 100%;
    padding: 10px;
  }

  .imie_nazwisko_input,
  .birthdate_input {
    flex-direction: column;
    gap: 10px;
  }

  .input-group input {
    font-size: 16px;
  }

  .save-btn {
    width: 100%;
    font-size: 18px;
    padding: 12px;
  }

  .edit-profile-img {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #avatarPreview {
    width: 100px;
    height: 100px;
  }
}
.side-bar-left{
  padding: 20px;
  min-width: 200px;
  text-align: left;
  font-size: 16px;
}

@media (max-width: 480px) {
  .nav-link {
    font-size: 14px;
    padding: 8px;
  }

  .logo {
    height: 50px;
  }

  .header {
    padding: 5px;
  }

  .save-btn {
    font-size: 16px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  color: #808A9D;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 80px;
}

.footer-content a{
  color: #3861FB;
  font-weight: bold;


}

.footer-links a {
  background-color: #EFF2F5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-radius: 8px;
  padding: 4px 8px;

}

.blue{
  color: #3861FB;
  font-weight:bold ;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-content,
  .footer-links {
    justify-content: center;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  height: auto;
}



.side-bar-right {

  padding: 20px;
  min-width: 200px;
  text-align: left;
}
.nav-icon {
  width: 20px;
  height: 20px;

  margin-left: 20px;

}
.side-bar-left > nav {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;

}
.sporty-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.zawody-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-bar-left > nav > a {
  text-decoration: none;
  color: #000;
}

.side-bar-right {
  border: none;
  padding: 20px;
  width: 60%;
  max-width: 600px;
  margin: 0;
}
.side-bar-right>h2{
  font-size: 22px;
  border-bottom: 1px solid #EFF2F5;
  padding: 0px 0px 22px 0px;
}
.side-bar-right>p{
  font-size: 16px;
  margin-top: 20px;
  font-weight: bold;
}
.mailblock
{
  display: flex;
  border-bottom: 1px solid #EFF2F5;
}
.side-bar-right>.mailblock>.under-text
{
  margin-top: -10px;
  margin-bottom: 20px;
  color: #808A9D;
  font-size: 12px;
  font-weight: normal;
}
.side-bar-right>.mailblock>.e-mail
{
  display: flex;
  margin-top: -12px;
  margin-left: 140px;
  font-size: 14px;
  font-weight: bold;
}

.side-bar-right > .mailblock > .under-text a {
  color: #3861FB;
  text-decoration: none;
}

.side-bar-right>.verification
{
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin-top: -10px;
}
.underver-text
{
  display: flex;

}
.side-bar-right>.verification>.ver-text>.underver-text>.under-text
{
  margin-top: -10px ;
  color: #808A9D;
  font-size: 12px;
  width: 70%;
  font-weight: normal;
}
.side-bar-right>.verification>.ver-text>.underver-text>.under-text>a
{
  text-decoration: none;
  color: #3861FB;
}
.side-bar-right>.verification>.ver-text>.underver-text>button
{
  background-color: #3861FB;
  color: #ffffff;
  border: none;
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 20%;
  margin-left: 60px;
  margin-top: -32px;
}
.side-bar-right>.password
{
  margin-right: 13px;
  font-size: 14px;
  font-weight: bold;
}
.side-bar-right>.password>div>.under-text
{
  margin-top: -10px ;
  color: #808A9D;
  font-size: 12px;
  width: 70%;
  font-weight: normal;
}
.side-bar-right>.password>div>button
{
  border-color: #808A9D;
  border: 1px;
  color: #000000;
  border-style: solid;
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 290px;
  height: 20%;
  margin-left: 40px;
  margin-top: -32px;
  background-color: #ffffff;
}

.side-bar-right>.delete
{
  margin-top: 20px;
  margin-right: 13px;
  font-size: 14px;
  font-weight: bold;
}
.side-bar-right>.delete>div>.under-text
{
  margin-top: -10px ;
  color: #808A9D;
  font-size: 12px;
  width: 70%;
  font-weight: normal;
}
.side-bar-right>.delete>div>button
{
  color: #ffffff;
  background-color: #EA3943;
  border: none;
  padding: 10px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 290px;
  height: 20%;
  margin-left: 40px;
  margin-top: -32px;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  background: #EFF2F5;
  width: 70px;
  height: 45px;
  border-radius: 20%;
  cursor: pointer;
}
.header-right > .icon-btn {
  margin-bottom: 20px;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  transition: background 0.3s ease;
}
.notification-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.icon-btn:hover {
  cursor: pointer;
}

.icon-btn img {
  width: 20px;
  height: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-link-header {
  text-decoration: none;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 90%;
}

.overlay-content h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.password-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.delete-overlay-btn {
  background: #EA3943;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.delete-overlay-btn:hover {
  background: #d32e36;
}


#openOverlayBtn {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

#openOverlayBtn:hover {
  background: #0056b3;
}
.close-overlay-btn {
  background: #3861FB;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.close-overlay-btn:hover {
  background: #3861FB;
}
.submit{
  background: #16C784;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.blue {
  color: #3861FB;
  font-weight: bold;
}

#verify:disabled {
  background-color: #3861FB;
  color: white;
  cursor: not-allowed;
  opacity: 0.7;
}
