body {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  background-color: #ffffff;
}
body {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

body.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

body {
  font-family: Inter,sans-serif;
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;


}

.container {

  display: -ms-flexbox;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  margin-top: 100px;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 22px;

}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-links .link {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  transition: opacity 0.3s ease;
}

.nav-links .link.dimmed {

  color: #CFD6E4
}

.nav-links .link.active {
  opacity: 1;
}




.nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.nav-links a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(56, 97, 251, 1);
}
.nav-links>p{
  color: #CFD6E4;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form .form-row {
  display: flex;
  gap: 10px;
}

form .form-row input {
  flex: 1;
}

form input {
  display: flex;
  width: 94.5%;
  padding: 10px;
  border: 1px solid #808A9D;
  border-radius: 12px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: rgba(56, 97, 251, 1);
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #3861FB;
}


.social-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 265px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #ffffff;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-button img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  max-width: 100%;
  max-height: 100%;
}

.social-button.google {
  border-color: #808A9D;
}

.social-button.google:hover {
  background-color: #3861FB;
  color: #ffffff;
  border: 1px solid #3861FB;
}

.social-button.apple {
  border-color: #808A9D;
}

.social-button.apple:hover {
  background-color: #3861FB;
  color: #ffffff;
  border: 1px solid #3861FB;
}


.bold {
  font-weight: bold;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: rgba(56, 97, 251, 1);
  width: 20px;
  opacity: 0.6;
}

.link-row {
  font-size: 10px;
  margin-top: 10px;
  align-items: center;
  text-decoration: none;
  text-align: center;
  display: block
}

.link-row a {
  text-decoration: underline;
  color: #3861FB;
  font-weight: bold;
  margin-bottom: -15px;
}

.link-row a:hover {
  text-decoration: none;
}

form input:not(.exclude-style) {
  display: flex;
  width: 94.5%;
  padding: 10px;
  border: 1px solid #808A9D;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}
form input:focus {
  border-color:#3861FB;
}
.input-container {
  margin-bottom: 15px;
}

.input-container p {
  margin: 0 0 5px;
  font-size: 14px;
  font-weight: bold;
}

.input-container input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #808A9D;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #3861FB;
}

.form-row {
  display: flex;
  gap: 10px;
}
.line-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  font-size: 10px;

}

.line-text::before,
.line-text::after {
  content: "";
  flex: 1;
  height: 1px;
  width: 100px;
  background-color: #58667E;;
}


#remember-me {
  appearance: none;
  margin-top: 8px;
  width: 10px;
  height: 10px;
  border: 1px solid #808A9D;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  padding: 6px;
}


#remember-me:checked {
  background-color: #3861FB;
  border-color: #3861FB;
}


#remember-me:checked::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
}

input {
  font-size: 14px;
}


input::placeholder {
  color: #808A9D;
  padding: 10px 8px;

  font-size: 12px;
  opacity: 0.8;
}
.register-p
{
  display: block ;
  margin:0 0 -14px;
  font-size: 14px;
  font-weight:bold;
}
.login-p
{
  margin-bottom: 1px;
  font-size: 14px;
  font-weight:bold
}
.error-message {
  color: #EA3943;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -150px;
  display: none;
  width: 130px;
  border: 1px rgb(128, 138, 157);
  border-style: solid;
  border-radius: 10px;
  font-weight: bold;
  padding: 2px;
  margin-bottom: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 40px;
  color: #808A9D;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content,
.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 80px;
}

.footer-content a{
  color: #3861FB;
  font-weight: bold;


}

.footer-links a {
  background-color: #EFF2F5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-radius: 8px;
  padding: 4px 8px;

}

.blue{
  color: #3861FB;
  font-weight:bold ;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-content,
  .footer-links {
    justify-content: center;
  }
}


.Pass {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: -10px;
}
.Pass .form-row {
  display: flex;
  gap: 10px;
}

.register-p {
  font-size: 14px;
  font-weight: bold;
}

.form-row {
  display: flex;

  justify-content: space-between;
}

.input-container {
  position: relative;
  flex: 1;

}

.input-container input {
  display: flex;
  gap: 10px;
  width: 20%;
  border: 1px solid #808A9D;
  border-radius: 12px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-top:5px ;
}

.input-container input:focus {
  border-color: #3861FB;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
  width: 20px;
  height: 20px;
  margin-top: 2px ;
}









