body {
  font-family: Inter,sans-serif;
  background-color: #ffffff;
  animation: fadeIn 0.3s ease-in forwards;
  margin: 0;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Стили для хедера */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #EFF2F5;
  width: 100%;
}

.logo {
  height: 60px;
  margin-right: 20px;
  margin-top: 10px;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;

}
.nav-link-header {
  text-decoration: none;
  justify-content: center;
  color: #000;
  font-weight: bold;
  font-size: 14px;
}
.header-center {
  justify-content: space-between;
  display: flex;
  gap: 150px;
}
input
{
  color: #808A9D;
}
/* Контейнер для поля поиска и иконки */
.search-container {
  display: flex;
  align-items: center; /* Центрируем иконку и инпут по вертикали */
  position: relative; /* Для позиционирования иконки */
}
.search-icon {
  position: absolute; /* Абсолютное позиционирование иконки */
  left: 15px; /* Отступ от левого края */
  width: 18px; /* Размер иконки */
  height: 18px;
  pointer-events: none; /* Чтобы клик не взаимодействовал с иконкой */
}
/* Поле поиска */
.search-input {
  padding: 15px 15px 15px 40px; /* Отступ слева увеличен для иконки */
  border: none;
  border-radius: 12px;
  background-color: #EFF2F5;
  outline: none;
  font-family: Inter, sans-serif;
  color: #808A9D;
  width: 450px; /* Ширина поля */
  font-size: 14px;
  font-weight: bold;
}
.search-input::placeholder {
  color: #808A9D; /* Цвет плейсхолдера */
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  margin-top: 20px;
}
.icon-btn img {
  width: 20px;
  height: 20px;
}



footer {
  display: flex;
  justify-content: space-between; /* Располагаем элементы по краям */
  align-items: center; /* Выравниваем элементы по вертикали */
  padding: 8px 40px; /* Отступы сверху/снизу и слева/справа */
  color: #808A9D;
  font-size: 12px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}

.footer-content,
.footer-links {
  display: flex;
  flex-wrap: wrap; /* Чтобы элементы переносились на мобильных */
  gap: 10px; /* Расстояние между элементами */
  margin-right: 80px;
}

.footer-content a{
  color: #3861FB;
  font-weight: bold;


}

.footer-links a {
  background-color: #EFF2F5;
  color: #000000;
  font-weight: bold;
  text-decoration: none;

  border-radius: 8px;
  padding: 4px 8px;

}

.blue{
  color: #3861FB;
  font-weight:bold ;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column; /* Вертикальное расположение элементов */
    text-align: center; /* Центрируем текст */
  }
  .footer-content,
  .footer-links {
    justify-content: center; /* Центрируем контент */
  }
}
.header-right {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center;
  justify-items: center;
  margin-top: 15px;
  gap: 10px;
  background: #EFF2F5;
  width: 80px;
  height: 45px;
  border-radius: 20%;
  cursor: pointer;
}/**/
.header-right > .icon-btn {
  margin-bottom: 20px;
}
.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f0f2f5;
  border: none;
  transition: background 0.3s ease;
}
.notification-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-right: 10px;
}
.icon-btn:hover {
  cursor: pointer;
}

.icon-btn img {
  width: 20px;
  height: 20px;
}
.register{
  width: 120px;
  background: #3861FB;
  color: white;
  border-radius: 12px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  padding: 14px;
  font-size: 14px;
}
.blue {
  color: #3861FB;
  font-weight: bold;
}
.menu-container{
  cursor: pointer;
}
/*menu for sport choose*/
.sporty-wrapper {
  position: relative; /* Чтобы позиционировать меню внутри */
}

.dropdown-menu {
  position: absolute;
  top: 70%; /* сразу под .sporty-toggle */
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: #CFD6E4 1px solid;
  border-radius: 6px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  z-index: 1000;
  min-width: 120px;
  font-size: 14px;
  font-weight: bold;
}


.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
}
.dropdown-item>img{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.dropdown-item:hover {
  background-color: #f0f0f0;
}
.team-container {
  max-width: 1200px;
  margin: 15px auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
}
.team-title{
  border-bottom: 1px solid #EFF2F5;
  padding: 0px 0px 10px;
  display: flex;
  justify-content: space-between;
}
.manager-options{
  margin-top: 10px;
}
.manager-options>button{
  background-color: white;
  border: none;
  cursor: pointer;
}
.team-container-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.team-img img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  border: 2px solid #ddd;
}

.team-info {
  display: block;
  flex-direction: column;
  width: 45%;
}

.team-info > p {
  margin: 2px;
}

.manager-name {
  font-size: 10px;
  color: #fff;
  background-color: #3861FB;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline;
}
.team-info-management{
  width: 100%;
}
.info-buttons {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-top: 20px;
  gap: 25px;
  justify-content: flex-end;
}

.info-buttons button {
  background-color: #EFF2F5;
  border: none;
  border-radius: 22px;
  padding: 15px 50px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-buttons button:hover {
  background-color: #ddd;
}

.buttons > .active {
  background-color: #3861FB;
  color: #ffffff;
}

.info-container {
  margin-top: 25px;
  background-color: #EFF2F5;
  padding: 20px;
  border-radius: 20px;
}

.info-container h2 {
  font-size: 22px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.players {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.player {
  display: block;
  align-items: center;
  gap: 15px;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;

}

.player-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.player-info {
  display: flex;
  justify-content: space-between;
  width: 93%;
  position: relative;
}
.role-button {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
}
.player-name {
  font-size: 12px;
  font-weight: bold;

  text-align: center;
  margin-top: 10px;
}

.player-nickname {
  font-size: 12px;
  color: #808A9D;

  text-align: center;
  margin-top: 10px;
}

.player-joined {
  font-size: 12px;
  color: #808A9D;

  text-align: center;
  margin-top: 10px;
}
.player-roles{
  font-size: 12px;
  color: #808A9D;

  text-align: center;
}
.createdAt {
  font-size: 11px;
  color: #808A9D;
  text-align: left;
}

.createdAt > p {
  margin: 4px;
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #ffffff;
  border-top: 1px solid #EFF2F5;
  font-size: 12px;
  color: #808A9D;
}

.footer-content {
  display: flex;
  gap: 20px;
}

.footer-links {
  display: flex;
  gap: 10px;
}

.footer-links a {
  background-color: #EFF2F5;
  color: #000;
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
.buttons>.active{
  background-color: #3861FB;
  color: #ffffff;
}
.leave-team {
  color: #EA3943;
  background-color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  font-weight: bold;
  border: #EA3943 1px solid;
  padding: 5px 5px;
}

.leave-team:hover {
  background-color: #EA3943;
  color: #ffffff;
  border-color: #EA3943;
}


.manager_menu{
  display: flex;
  margin: auto;
  margin-top: 5px;
  max-width: 1200px;
  justify-content: space-between;
  margin-bottom: 100px;
}
.search_user{
  width: 550px;
  height: 300px;
  background-color: #EFF2F5;
  border-radius: 20px;
  padding: 20px;
  display: block;
}
.search_user>p{
  text-align: left;
  padding: 0 0 15px 0;
  border-bottom: 1px #dddddd solid;
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
.search_user>input{
  margin-top:10px;
  margin-left: 5px;
  padding:10px;
  border-radius: 8px;
  border: none;
  color: #808A9D;
  font-weight: bold;
  font-size: 12px;
  height: 30px;
  width:95%;
  font-family: Inter, sans-serif;
}
.search_user>button{
  margin-top:10px;
  margin-left:10px;
  width: 95px;
  height: 50px;
  background-color: #3861FB;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.invite-btn{
  width: 20px;
  height: 20px;
  filter: url(#filter_B);
}
.users_found{
  margin-top: 10px;
  overflow-y: auto;
  height: 50%;
}
.user{
  background-color: white;
  display: flex;
  border-radius: 16px;
  justify-content: space-between;
  padding: 10px;
  margin-top: 15px;
}
.user>div>img{
  width: 40px;
  height: 40px;
  border: #808A9D 1px solid;
  border-radius: 50%;
}
.user>button{
  height: 30px;
  margin-top: 8px;
  background-color: #dddddd;
  color: white;
  border-radius: 12px;
  border: none;
  width: 80px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.user>button:hover{
  background-color: #3861FB;
}
.user_info{
  font-weight: bold;
  font-size: 10px;
  color:#000000;
  margin-top: 10px;
}
.user_info>p{
  margin: 0;
}
.avata_and_info{
  display: flex;
  gap: 20px;
}

/* Контейнер уведомлений с фиксированным заголовком */
.manager-notifications {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 300px;
  background-color: #EFF2F5;
  border-radius: 20px;
  padding: 20px;
  position: relative;
}

/* Фиксированный заголовок */
.notifications-title {
  font-weight: bold;
  border-bottom: 1px #dddddd solid;
  padding-bottom: 15px;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  background-color: #EFF2F5;
  z-index: 2;
}

/* Контейнер для уведомлений с прокруткой */
.notifications-container {
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
  max-height: 270px; /* высота без заголовка */
  padding-right: 5px; /* Чтобы контент не прилипал к краю */
}

/* Стили уведомлений */
.manager-notification-item {
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

/* Время уведомления */
.manager-notification-time {
  font-size: 12px;
  color: #808A9D;
  display: block;
  margin-top: 5px;
}


/* Кнопки "Принять" и "Отклонить" */
.manager-notification-actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.manager-accept-btn, .manager-decline-btn {
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.manager-notifications>p{
  font-weight: bold;
  border-bottom: 1px #dddddd solid;
  padding: 0px 0px 15px 0px;
}
.manager-accept-btn {
  background-color: #28a745;
  color: white;
}

.manager-accept-btn:hover {
  background-color: #218838;
}

.manager-decline-btn {
  background-color: #dc3545;
  color: white;
}

.manager-decline-btn:hover {
  background-color: #c82333;
}
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 16px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  cursor: pointer;
}

.modal-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.modal-section label {
  font-weight: bold;
}


.modal-save-btn {
  margin-top: 8px;
  padding: 15px 20px;

  background-color: #3861FB;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sporty-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.zawody-toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-save-btn:hover {
  background-color: #274ad0;
}

.team-logo-preview {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  border: 1px solid #ccc;
  object-fit: cover;
  margin: 0 auto;
}
/* Если точно не нужно ограничивать всю страницу */
.container,
#main-container {
  max-width: none !important;
  width: 100%;
  margin: 0;
}
